<body>
<div>
  <p>Welcome {{uname}}</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Customer Registration</h5>
        <p class="card-text">Here all the customer details are provided.</p>
        <a href="/aba/customerregister" class="btn btn-primary">Go to Customer Page</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Billing Management System</h5>
        <p class="card-text">This service is used to send bills to customer and order tracking</p>
        <a href="/aba/productbilling" class="btn btn-primary">Go to Bill Management</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inventory Management System</h5>
        <p class="card-text">This service is used to track the inventory of the business</p>
        <a href="#" class="btn btn-primary">Go to Inventory Management</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Employee Management</h5>
        <p class="card-text">Here all the employee details are kept</p>
        <a href="/aba/employeemanage" class="btn btn-primary">Go to Employee Management</a>
      </div>
    </div>
  </div>
</div>
</body>
